body{
  background: #80e4f1;
  color: #07393C;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serifS;
}
.con{
  text-align: center;
}
.Cal{
    text-align: center; 
}
cursor{
  cursor: crosshair;
}
H1{
  size: 10000px;
}
button{
  background-color: #07393C;
  text-decoration: dotted;
  color:  #F0F0F0;
}
input{
  background-color: rgb(222, 218, 218);
}